.backdrop-blur-sm {
  --tw-backdrop-blur: blur(0px);
}

.bg-opacity-60 {
  --tw-bg-opacity: 60;
}

.bg-black {
  --tw-bg-opacity: 0;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
